/*vygenerované barvy*/
/*
rgb(255,172,207) - #FFACCF - růžová - tlačítka a navigace
rgb(255,196,152) - #FFC498 - béžová pozadí body
rgb(0,51,108) - #00336C - tmavě fialová - rámečky
rgb(0,103,105) - #006769 - tmavě zelená - SVG obrázky
rgb(0,158,107) - #009E6B - světle zelená - stíny SVG obrázků
*/

/*
.blok_50
{
visibility:visible;
}

*/


.ico1,.ico2,.ico3,.ico4,.ico5,.is-1,.is-2,.is-3,.is-4
{
background-image:url('../svg/ico.svg');
background-repeat:no-repeat;
height:0;
width:calc(5rem + .1vw);
min-width:calc(5rem + .1vw);
padding-bottom:calc(5rem + .1vw);
background-size:900%;
display:block;
}

.is-1,.is-2,.is-3,.is-4
{
height:0;
width:100%;
min-width:auto;
padding-bottom:100%;
display:block;
}

.ico1
{
background-position:0 0;
}

.ico2
{
background-position:12.5% 0;
}

.ico3
{
background-position:25% 0;
}

.ico4
{
background-position:37.5% 0;
}

.ico5
{
background-position:50% 0;
}



.is-1
{
background-position:62.5% 0;
}

.is-2
{
background-position:75% 0;
}

.is-3
{
background-position:87.5% 0;
}

.is-4
{
background-position:100% 0;
}

.nav_obsah
{
width:100%;
padding:1rem;
margin-bottom:1rem;
display:flex;
justify-content:center;
}

.nav_obsah ul
{
max-width:75rem; /* 1200 px */
}

.nav_obsah ul li
{
margin-bottom:.5rem;
}


.nav_obsah ul li a
{
padding:.5rem;
color:white;
padding-right:.5rem;
padding-left:.5rem;
background:var(--b3);
border-radius:4px;
display:flex;
gap:1rem;
align-items:center;
height:100%;
letter-spacing:.05rem;
}

.nav_obsah ul li a p
{
line-height:1.25;
text-align:left;
width:auto;
margin-bottom:0;
}


/* pokud je obrazovka větší než 32em - 656px */
@media only screen and (min-width:41em)
{
.nav_obsah ul
{
display:grid;
grid-template-columns:repeat(6,1fr);
grid-template-areas:"n1 n1 n2 n2 n3 n3"". n4 n4 n5 n5 .";
gap:1rem;
}
.nav_obsah ul li
{
margin-bottom:0;
}
.nav_obsah ul li a
{
flex-direction: column;
gap:.5rem;
}
.nav_obsah ul li a p
{
text-align:center;
}}

.n1
{
grid-area:n1;
}

.n2
{
grid-area:n2;
}

.n3
{
grid-area:n3;
}

.n4
{
grid-area:n4;
}

.n5
{
grid-area:n5;
}

.volne_misto
{
color:var(--b1);
padding:1rem;
background:var(--b4);
display:flex;
flex-direction:column;
align-items: center;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width: 39em)
{
.volne_misto
{
border-bottom:2px solid var(--b3);
}}

.volne_misto2
{
display:flex;
gap:2rem;
flex-direction:column;
align-items:center;
padding:1rem;
color:var(--b1);
background:var(--b4);
border-bottom:2px solid var(--b3);
}

.nav_aside ul
{
display:flex;
flex-direction:column;
margin-bottom:1rem;
}

.nav_aside ul li
{
display:flex;
flex-direction:column;
width:100%;
margin-bottom:0;
}

.nav_aside ul li a
{
font-family:"BioRhyme","sans-serif";
display:flex;
flex-wrap:nowrap;
align-items:center;
justify-content:flex-start;
color:white;
font-size:.75rem;
font-weight:normal;
line-height:1.5;
padding:.5rem;
width:100%;
text-align:left;
}

.div_odkaz
{
width:auto;
}

.div_odkaz p,.div_odkaz li,.div_odkaz li a
{
font-family:"DuruSans","Sans-Serif";
color:white;
font-size:.8rem;
text-align:left;
font-weight:normal;
}

.div_odkaz p
{
font-weight:bold;
}

.box_a1
{
display:flex;
align-items:center;
justify-content:center;
background:var(--b2);
color:var(--b3);
width:3rem;
min-width:3rem;
height:3rem;
min-height:3rem;
border-radius:1.5rem;
font-weight:800;
}

.box_a2
{
font-family:"DuruSans","Sans-Serif";
border:1px dotted var(--b3);
border-left:none;
padding:.5rem;
border-radius:5px;
width:100%;
}

.obsah
{
padding-top:1rem;
padding-bottom:1rem;
}

.info_obsah
{
font-size:.8rem;
font-weight:bold;
padding:1rem;
border:1px dotted var(--b4);
width:auto;
max-width:50ch;
margin-left:1rem;
margin-right:1rem;
}





.o1,.o2,.o3,.o4,.o5,.o6,.o7,.o8,.o9,.o10,.o11,.o12
{
/* SVG 4 obrázky Pěstování konopí, 4 obrázky Sklízení konopí a 4 obrázky Skladování konopí */
background-image:url('../svg/pestovani.svg');
background-repeat:no-repeat;
width:8rem;
min-width:8rem;
height:8rem;
min-height:8rem;
background-size:1200%;
display:block;
border:3px solid var(--b4);
border-radius:5px;
}


.o1
{
background-position:0 0;
}


.o2
{
background-position:9.090% 0;
}

.o3
{
background-position:18.181% 0;
}

.o4
{
background-position:27.271% 0;
}

.o5
{
background-position:36.362% 0;
}

.o6
{
background-position:45.451% 0;
}


.o7
{
background-position:54.542% 0;
}

.o8
{
background-position:63.632% 0;
}

.o9
{
background-position:72.723% 0;
}

.o10
{
background-position:81.813% 0;
}

.o11
{
background-position:90.904% 0;
}


.o12
{
background-position:100% 0;
}


.i-text
{
font-family:"BioRhyme","sans-serif";
font-weight:bold;
text-align:center;
}

.sez
{
text-align:justify;
width:100%;
max-width:50ch;
}

.sez li
{
margin-bottom:.5rem;
font-weight:normal;
list-style-type:disc;
line-height:1.25;
hyphens:auto;
}

.g-k
{
display:flex;
align-items:center;
justify-content:center;
flex-wrap:wrap;
gap:1rem;
margin:0;
margin-top:4rem;
margin-bottom:4rem;
background:var(--b3);
width:100%;
max-width:58rem;
color:var(--b2);
padding:2rem .5rem 2rem .5rem;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.g-k
{
flex-wrap:nowrap;
}}

/* pokud je obrazovka větší než 58em - 928px*/
@media only screen and (min-width:58em)
{
.g-k
{
padding:.5rem;
}}

.g-k div p
{
font-family:"BioRhyme","sans-serif";
font-weight:bold;
line-height:1;
margin-bottom:1rem;
}

.gl
{
display:grid;
grid-template-columns:repeat(6,1fr);
grid-template-rows:auto;
align-items:center;
gap:.25rem;
grid-template-areas:
"g1 g1 g1 g1 g1 g1"
"g2 g2 g2 g3 g3 g3"
"cap cap cap cap cap cap"
;
background:var(--b3);
margin:0;
}

/* pokud je obrazovka větší než 58em - 928px*/
@media only screen and (min-width:58em)
{
.gl
{
grid-template-areas:
"g1 g1 g1 g1 g2 g2"
"g1 g1 g1 g1 g3 g3"
"cap cap cap cap cap cap"
;
}}


.gl_1,.gl_2,.gl_3
{
display:flex;
align-items:flex-start;
aspect-ratio:1/1;
}


.gl_1 img,.gl_2 img,.gl_3 img
{
background-clip:padding-box;
border-radius:2px;
box-shadow:0px 0px 4px black;
}

.cap
{
grid-area:cap;
font-size:.8rem;
text-align:left;
}

.gl_1
{
grid-area:g1;

}

.gl_2
{
grid-area:g2;
}

.gl_3
{
grid-area:g3;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.sazba
{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:1rem;
margin-left:1rem;
margin-right:1rem;
justify-content:center;
}}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.sazba
{
margin-left:5%;
margin-right:5%;
}}

.s-k
{
display:grid;
grid-template-columns:1fr;
grid-template-rows:auto auto 1fr;
align-items:end;
padding:.5rem;
background:var(--b2);
margin-bottom:1rem;
margin-left:1rem;
margin-right:1rem;
border-radius:4px;
}

.s-k p:first-child
{
border-bottom:10px solid var(--b4);
margin-bottom:1rem;
}

.s-k p:last-child
{
padding-top:.5rem;
border-top:10px solid var(--b5);
margin-bottom:0;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.s-k
{
margin-left:0rem;
margin-right:0rem;
}}

.s-k p
{
font-size:.8rem;
font-weight:bold;
hyphens:auto;
}

.c_s
{
font-size:5rem;
line-height:1;
}

.p-box
{
background:var(--b4);
margin-bottom:1rem;
padding-top:3rem;
position:relative;
}

.paragraf
{

display:grid;
grid-template-columns:repeat(12,1fr);
grid-template-areas:
". . . . . . . . . . . ."
". obs obs obs obs obs obs obs obs obs obs ."
". . . . vaha_1 vaha_1 vaha_1 vaha_1 . . . ."
;
gap:2rem 0px;
}

/* pokud je obrazovka větší než 39em - 624px  */
@media only screen and (min-width:39em)
{
.paragraf
{
grid-template-rows:repeat(4,1fr);
grid-template-areas:
". . . . . . . . . . . ."
". obs obs obs obs obs obs obs . vaha_1 vaha_1 ."
". obs obs obs obs obs obs obs . vaha_1 vaha_1 ."
". . . . . . . . . . . ."
;
align-items:center;
gap:2rem 0px;
}}

.p-plus
{
font-size:1rem;
color:transparent;
}

.par_poz
{
position:absolute;
left:0;
top:0;
opacity:.2;
z-index:1;
}

.par_poz h3
{
font-family:"DuruSans","Sans-Serif";
font-size:calc(4rem + 20vw);
color:var(--b2);
font-weight:bold;
}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.par_poz h3
{
font-size:calc(15rem + 5vw);
}}

/* pokud je obrazovka větší než 81em - 1296px */
@media only screen and (min-width:81em)
{
.par_poz h3
{
font-size:calc(20rem + 5vw);
}
} 

/* pokud je obrazovka větší než 112.5em - 1800px */
@media only screen and (min-width:112.5em)
{
.par_poz h3
{
font-size:25rem;
}} 

.p_obsah
{
grid-area:obs;
background:white;
border-radius:4px;
}

.p_obsah p
{
padding:1rem;
position:relative;
z-index:2;
hyphens:auto;
}

.vh
{
grid-area:vaha_1;
padding:.5rem;
}

.vv
{
background-image:url('../svg/vaha.svg');
background-repeat:no-repeat;
height:0;
width:100%;
padding-bottom:100%;
background-size:200%;
display:block;
}


.org_skupina
{
display:grid;
grid-template-columns:repeat(12,1fr);
grid-template-rows:auto;
grid-template-areas:
". . . . org_img org_img org_img org_img . . . ."
". org_1 org_1 org_1 org_1 org_1 org_1 org_1 org_1 org_1 org_1 ."
". org_2 org_2 org_2 org_2 org_2 org_2 org_2 org_2 org_2 org_2 ."
;
background:var(--b4);
padding-top:1rem;
padding-bottom:3rem;
gap:1rem;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.org_skupina
{
grid-template-areas:
". org_1 org_1 org_1 org_1 org_img org_img org_2 org_2 org_2 org_2 ."
;
grid-template-columns:repeat(5,1fr) .5fr .5fr repeat(5,1fr);
padding-top:3rem;
}}

.org_1,.org_2
{
display:flex;
align-items:flex-start;
justify-content:center;
background:white;
padding:1rem;
border-radius:4px;
}

.org_1 p,.org_2 p
{
font-size:.8rem;
font-weight:bold;
margin:auto;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width: 39em)
{
.org_1 p,.org_2 p
{
margin:0;
}}

.org_1
{
grid-area:org_1;
}

.org_2
{
grid-area:org_2;
}

.org_img
{
grid-area:org_img;
display:block;
background-image:url('../svg/vaha.svg');
background-repeat:no-repeat;
height:0;
width:100%;
background-position:100% 0;
padding-bottom:100%;
background-size:200%;
align-self:center;
}

.ex
{
color:var(--b2);
font-size:calc(2rem + .1vw);
}

.paticka
{
display:flex;
flex-direction:column;
align-items:center;
background:var(--b4);
color:white;
padding:1rem;
}

.paticka p,.paticka p small
{
font-size:.75em;
font-size:calc(0.75rem + .1vw);
padding:0;
margin:0;
margin-bottom:.25rem;
line-height:1;
text-align:center;
width:100%;
}

.paticka p:last-child
{
line-height:2;
}

.kontakt a,.kontakt a:link,.kontakt a:visited,.kontakt a:active
{
font-family:"BioRhyme","sans-serif";
color:white;
font-weight:normal;
border:1px dotted var(--b2);
padding:3px;
}

svg
{
width:100%;
height:auto;
}

.menu_up
{
display:flex;
justify-content:center;
align-items:center;
position:-webkit-sticky;
position:sticky;
will-change:transform;
height:auto;
width:calc(5rem + .1vw);
top:calc(90% - 2rem);
left:calc(50% - (5rem/2 + .1vw/2));
border-radius:5px;
background:var(--b2);
color:var(--b3);
padding:0.5rem;
z-index:3;
border:1px solid var(--b3);
box-shadow:0px 0px 5px var(--b3);
margin-bottom:1rem;
}

.menu_up a
{
font-family:"BioRhyme","Verda";
font-weight:600;
}

.menu_parking
{
height:6rem;
}

.kon_odkazy
{
display:grid;
grid-template-columns:repeat(4,minmax(3rem,5rem));
align-items:center;
gap:1rem;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.kon_odkazy
{
gap:1.5rem;
}}

.kon_odkazy div a
{
display:flex;
flex-direction:column;
align-items:center;
gap:1rem;
color:white;
font-size:.65rem;
}


@media only screen and (min-width:39em)
{
.kon_odkazy div a
{
font-size:.8rem;
}}

.f-lamac
{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
gap:2rem;
}


.nescript
{
border:10px solid var(--b1);
padding:1rem;
margin-bottom:1rem;
animation:blik_border 1s linear infinite;
width:100%;
hyphens:auto;
}

@keyframes blik_border
{
0%{border:10px solid var(--b1);}
50%{border:10px solid var(--b5);}
100%{border:10px solid var(--b1);}
}

.m1
{
margin:1rem;
}

.m_0
{
margin:0;
}

.m_auto
{
margin:auto;
}

.mb,.mar_b
{
margin-bottom:1rem;
}

.mb2,.mar_b2
{
margin-bottom:2rem;
}

.mb3,.mar_b3
{
margin-bottom:3rem;
}

.mar_t5m
{
margin-top:-5rem;
}

.n-s
{
padding-top:3rem;
}

.p-b1
{
padding-bottom:1rem;
}

.bor
{
border:5px solid var(--b3);
border-radius:5px;
}

.bor_m
{
border:1px solid var(--b3);
border-radius:5px;
}

.flex
{
display:flex;
}

.f_c
{
flex-direction:column;
}

.f_r
{
flex-direction:row;
}

.wrap
{
flex-wrap:wrap;
}

.gap
{
gap:1rem;
}

.a_i
{
align-items:center;
}

.ass
{
align-self:flex-start;
}

.ase
{
align-self:flex-end;
}


.pl_pp
{
padding-left:1rem;
padding-right:1rem;
}

.a_s_e
{
align-self:flex-end;
}

.j_c
{
justify-content:center;
}

.w_100
{
width:100%;
}

.w_100m
{
min-width:100%;
}

.w_100_h_a
{
width:100%;
height:auto;
}

.t_c
{
text-align:center;
}

.b-r,.blok_r  /* zarovnání bloku doprava */
{
display:flex;
justify-content:center;
margin-left:1rem;
margin-right:1rem;
}

.b-r,.blok_r p
{
hyphens:auto; /* automatické zalamování slov v odstavci */
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width: 39em)
{
.b-r,.blok_r
{
margin-left:0;
margin-right:0;
display:flex;
justify-content:flex-end;
}}

/* pokud je obrazovka větší než 39em - 624px a menší než 58em - 928px */
@media only screen and (min-width: 39em) and (max-width: 58em)
{
.blok_tab
{
padding:0 1rem 0 1rem;
}}

.h_nadpis
{
display:flex;
flex-direction:row;
background:var(--b5);
align-items:center;
gap:.5rem;
padding:.5rem;
margin-bottom:1rem;
}

.h_nadpis h2
{
color:black;
padding-top:1.25rem;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.h_nadpis
{
padding-left:5%;
gap:1rem;
}}

/* pokud je obrazovka větší než 81em - 1296px */
@media only screen and (min-width:81em)
{
.h_nadpis
{
padding-left:10%;
gap:2rem;
}}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.sl
{
columns:2 auto;
gap:3rem;
column-rule:1px dotted var(--b4);
column-fill:balance;
break-inside:avoid;
margin-bottom:1rem;
}}

/* pokud je obrazovka větší než 81em - 1296px */
@media only screen and (min-width:81em)
{
.sl
{
gap:5rem;
}}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.sloupce_928
{
columns:2 auto;
column-fill:balance;
break-inside:avoid;
max-width:60%;
column-rule:1px dotted var(--b4);
gap:3rem;
}}

a.vyrazny
{
color:var(--b2);
border:1px dotted var(--b1);
padding:.5rem;
}

button,a
{
transition:250ms;
cursor:pointer;
}


@media only screen and (min-width:58em)
{
a:hover,button:hover
{
animation:najeto 1s linear;
}} 



@keyframes najeto
{
0%{filter: contrast(100%);}
10%{filter:contrast(110%);}
30%{filter:contrast(120%);}
50%{filter:contrast(130%);}
90%{filter:contrast(150%);}
100%{filter:contrast(100%);}
}

.zarit
{
color:var(--b1);
}

.zarit_poz
{
background:var(--b1);
}

.podtrzeno
{
border-bottom:2px solid var(--b5);
}

.tucne
{
font-weight:bold;
}

.f-s
{
font-size:.8rem;
}

.vse_velkym
{
text-transform:uppercase; /* vše velkým */
}

.h_auto
{
hyphens:auto; /* automatické zalamování slov v odstavci */
}

.an_zobraz
{
will-change:transform;
animation:zobraz paused 1s both cubic-bezier(0.4, 0, 1, 1);
}
@keyframes zobraz
{
0%{filter:brightness(0.25);}
100%{filter:brightness(1);}
}

.an_sk
{
will-change:transform;
animation:zvetsi paused 1s both;
}

@keyframes zvetsi
{
0%{transform:scale(0);}
100%{transform:scale(1);}
}

.an_r
{
will-change:transform;
animation:rotace paused 1s both;
}

@keyframes rotace
{
0%{transform:scale(0) rotate(-360deg);}
100%{transform:scale(1) rotate(0deg);}
}

.an_p
{
will-change:transform;
animation:psun paused 1s both;
}

@keyframes psun
{
0%{transform:translate(0,0);opacity:0;}
1%{transform:translate(100%,0);opacity:0;}
100%{transform:translate(0,0);opacity:1;}
}



.an_lesk1,.an_lesk2
{
will-change:transform;
}

.an_lesk1
{
animation:lesk 15s 120s infinite; /* animace k menu položka 1 */
}


.an_lesk2
{
animation:lesk 15s 125s infinite; /* animace k menu položka 2 */
}

@keyframes lesk
{
/* animace k menu - zvětšení písma 2x v krátké chvilce v dlouhém intervalu */
0%{font-variation-settings:"wght" 700;}
45%{font-variation-settings:"wght" 700;}
46%{font-variation-settings:"wght" 300;}
47%{font-variation-settings:"wght" 700;}
48%{font-variation-settings:"wght" 300;}
49%{font-variation-settings:"wght" 700;}
100%{font-variation-settings:"wght" 700;}
}


@page
{
size:210mm 297mm;
}

@media print
{
body
{
color:black;
background:white;
font-size:12pt;
}

.paragraf
{
display: block;
}

.hlavicka,.uvod_obsah,.ukos_komplet,#obsah,.par_poz,.vaha_1,.galerie_kon,.volne_misto,.volne_misto2,.paticka,.org_img,.sdilet,.g-k,.i-box,.par_poz,.vv
{
display:none;
}

.menu_up
{
visibility:hidden;
}

.paragraf_obal
{
padding-top:0;
}

.paragraf
{
grid-template-rows:.5fr max-content ;
grid-template-areas:
". obs obs obs obs obs obs obs obs obs obs ."
". . . vaha_1 vaha_1 vaha_1 vaha_1 vaha_1 vaha_1 . . ."
;
gap:0px;
}

.sazba_karta
{
border:2px solid black;
}

.ilustrace-box
{
grid-template-areas:
"i_1 i_1 i_1 i_2 i_2 i_2 i_3 i_3 i_3 i_4 i_4 i_4"
"i_c i_c i_c i_c i_c i_c i_c i_c i_c i_c i_c i_c"
;
gap:1rem;
margin-top:1rem;
margin-bottom:1rem;
}

.mb3,.mar_b3
{
margin-bottom:12pt;
}

.mb2,.mar_b2
{
margin-bottom:6pt;
}

.h_nadpis h2
{
padding-top:0pt;
}

@keyframes zobraz
{
0%{opacity:1;}
100%{opacity:1;}
}

@keyframes zvetsi
{
0%{transform:scale(1);}
100%{transform:scale(1);}
}

@keyframes rotace
{
0%{transform:scale(1) rotate(0deg);}
100%{transform:scale(1) rotate(0deg);}
}

@keyframes psun
{
0%{transform:translate(0,0); opacity:1;}
100%{transform:translate(0,0); opacity:1;}
}

@keyframes otoceni
{
0%{transform:perspective(0px) rotateY(0deg) scale(1);opacity:1;}
100%{transform:perspective(0px) rotateY(0deg) scale(1);opacity:1;}
}}


/* BREAKE POINTY */
/*
breake pointy
624px - 39em
928px - 58em
1296px - 81em
1800px - 112.5em
*/


/* pokud je obrazovka větší než 19em - 304px 
@media only screen and (min-width: 19em)
{


} */

/* pokud je obrazovka větší než 39em - 624px 
@media only screen and (min-width: 39em)
{


} */


/* pokud je obrazovka větší než 58em - 928px
@media only screen and (min-width: 58em)
{



} */


/* pokud je obrazovka větší než 81em - 1296px
@media only screen and (min-width: 81em)
{

} */

/* pokud je obrazovka větší než 112.5em - 1800px 
@media only screen and (min-width: 112.5em)
{

} */

/* konec BREAKE POINTY */
