
@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"BioRhyme"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/nadpis.woff2") format("woff2 supports variations"),url("../font/nadpis.woff2") format("woff2-variations"),url("../font/nadpis.woff2") format("woff2"),url("../font/nadpis.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:200 800; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
} /* logo a nadpisy - dvě osy: weight a width (rozsah:100-125) , příklad: font-variation-settings: "wdth" 100;  */ 

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"DuruSans"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/text.woff2") format("woff2 supports variations"),url("../font/text.woff2") format("woff2-variations"),url("../font/text.woff2") format("woff2"),url("../font/text.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:300 700; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}  /* běžný text - jedna oda: pouze weight -  */


/* NORMALIZACE */
html{
line-height:1.15;
-webkit-text-size-adjust:100%;
text-size-adjust:100%;
}

main{
display:block;
}

a{
background-color:transparent;
}
abbr[title]{
border-bottom:none;
text-decoration:underline;
text-decoration:underline dotted;
}
strong
{
font-weight:bolder;
}

small{
font-size:80%;
}
img{
border-style:none;
}
button,input,optgroup,select,textarea{
font-family:inherit;
font-size:100%;
line-height:1.15;
margin:0;
}
button,input
{ 
overflow:visible;
}

button,select
{
text-transform:none;
}

button,
[type="button"],
[type="reset"],
[type="submit"]{
-webkit-appearance:button;
appearance:button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
border-style:none;
padding:0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
outline:1px dotted ButtonText;
}

fieldset{
padding:.35em .75em .625em;
}

legend{
box-sizing:border-box;
color:inherit;
display:table;
max-width:100%;
padding:0;
white-space:normal;
}
textarea{
overflow:auto;
}

[type="checkbox"],
[type="radio"]{
box-sizing:border-box;
padding:0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{
height:auto;
}

[type="search"]{
-webkit-appearance:textfield;
appearance:textfield;
outline-offset:-2px;
}

[type="search"]::-webkit-search-decoration{
-webkit-appearance: none;
}

::-webkit-file-upload-button{
-webkit-appearance:button;
font:inherit;
}

details{
display:block;
}

summary{
display:list-item;
}

template{
  display:none;
}

[hidden]{
display:none;
}

p,ul,ol,dl,table,pre,figure
{
padding-top:0;
padding-bottom:0;
margin-top:0;
margin-bottom:1rem;
}

ul ul,ul ol,ol ul,ol ol
{
margin-bottom:0;
}

ul,ol,dd{
padding-left:1.75rem;
}

dd{
margin-left:0;
}

figure{
margin-left:0;
margin-right:0;
}  

figure>table,figure>img,figure>picture{
margin-bottom:0;
}

fieldset{
border:0;
}

legend{
padding:0 .5rem;
}

/* konec NORMALIZACE */

:root
{
--b1:rgb(255,172,207);
--b1_5:rgba(255,172,207,.5);
--b2:rgb(255,196,152);
--b2_p:rgba(255,196,152,.8);
--b2_5:rgba(255,196,152,.5);
--b3:rgb(0,51,108);
--b4:rgb(0,103,105);
--b4_5:rgba(0,103,105,.5);
--b5:rgb(0,158,107);
--b5_5:rgba(0,158,107,.5);
}

.logo
{
background-image:url('../svg/logo.svg');
}

*
{
box-sizing:border-box;
}

body
{
display:flex;
flex-wrap:wrap;
justify-content:center;
text-align:center;
font-family:"DuruSans","Sans-Serif";
color: var(--b3);
font-size:100%;
background:var(--b4);
padding:0;
margin:0;
min-height:100vh;
margin:0;
}

article
{
contain:content;  /* prohlížeči dá instrukci, že prvky, které uživatel nevidí může vynechat z počítání stránky */
}

p
{ 
font-size:1rem;
text-align:justify;
width:100%;
line-height:1.5;
}

p::selection
{
background:var(--b3);
color:white;
}


/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
p
{
max-width:50ch;
}}

mark
{
background:var(--b1_5);
}


ul
{
margin:0;
padding:0;
}

li
{
list-style-type:none;
margin-bottom:1rem;
font-weight:bold;
line-height:2;
padding:0;
}

h1,h2,h3,h4,h5
{
font-family:"BioRhyme","sans-serif";
font-variant-ligatures:common-ligatures;
font-weight:800;
letter-spacing:.01rem;
margin-top:0;
margin-bottom:.5rem;
-webkit-hyphens:none;
hyphens:none;
}

h1
{
font-size:1.8em;
margin:.67em 0;
margin-bottom:1.5rem;
}

h2
{
font-size:1.5rem;
margin-bottom:1.25rem;
}

h3
{
font-size:1.25rem;
margin-bottom:1rem;
}


/* pokud je obrazovka větší než 39em - 624px  */
@media only screen and (min-width:39em)
{
h1
{
font-size:calc(1.8rem + .5vw);
}

h2
{
font-size:calc(1.5rem + .5vw);
}

h3
{
font-size:calc(1.25rem + .25vw);
}}

.t_l
{
text-align:left;
}

hgroup
{
margin-bottom:1rem;
}


a,a:link,a:visited,a:active
{
line-height:1.25;
color:var(--b3);
cursor:pointer;
text-decoration:none;
}

img
{
width:100%;
height:auto;
}

table
{
border-collapse:collapse; /* border-collapse má výchozí hodnotu separate, kdy prohlížeč od sebe odděluje jednotlivé buňky tabulky a tím vytváří dvojté rámečky */
}

td
{
text-align:center;
}

th,td
{
padding:.125rem;
font-family:"DuruSans","Sans-Serif"; /* Formátování pro Bezpatkové písmo */
font-size:.8rem;
line-height:1.25;
border:1px solid var(--b3);
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
th,td
{
padding:.5rem;
}}
tbody tr:nth-of-type(even)
{
background:var(--b1);
}

thead tr
{
background:var(--b2);
}

thead tr th,thead tr td
{
font-family:"BioRhyme","sans-serif";
}

.kontajner
{
width:100%;
min-height:100vh;
background:white;
display:grid;
grid-template-areas:
"hl hl hl hl hl hl hl hl hl hl hl hl"
"ob ob ob ob ob ob ob ob ob ob ob ob"
"vm vm vm vm vm vm vm vm vm vm vm vm"
"vxx vxx vxx vxx vxx vxx vxx vxx vxx vxx vxx vxx"
"pat pat pat pat pat pat pat pat pat pat pat pat";
grid-template-columns:repeat(12,1fr);
grid-template-rows:min-content 1fr min-content min-content min-content;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.kontajner
{
grid-template-areas:
"hl hl hl hl hl hl hl hl hl hl hl hl"
"ob ob ob ob ob ob ob ob ob ob ob ob"
"vm vm vm vm vm vm vxx vxx vxx vxx vxx vxx"
"pat pat pat pat pat pat pat pat pat pat pat pat"
;
grid-template-rows:min-content 1fr  min-content  min-content;
}}

.cen
{
display:flex;
flex-direction:column;
align-items:center;
}

.mw75
{
display:flex;
flex-direction:column;
width:100%;
max-width:75rem;  /* 1200px */
}


.hlavicka
{
grid-area:hl;
position:-webkit-sticky;
position:sticky;
top:-250px;
left:0px;
will-change:transform; /* zapnutí hardwerové akcelerace */
z-index:5;
display:grid;
grid-template-columns:minmax(min-content,1fr) min-content;
grid-template-areas:"nadpis k-back""navigace navigace";
justify-content:end;
align-items:center;
background:var(--b4);
overflow:hidden;
}

.nadpis
{
grid-area:nadpis;
display:flex;
flex-direction:column;
align-items:center;
position:absolute;
top:10px;
left:10px;
background:var(--b2_p);
padding:.5rem;
z-index:3;
}


/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.nadpis
{
position:static;
background:transparent;
}}

.obrazek
{
width:auto;
height:250px;
}

.k-back
{
grid-area:k-back;
position:relative;
height:250px;
width:311px;
overflow:hidden;
background-image:url('../jpg/poz_m.png');
background-size:311px auto;
background-repeat:no-repeat;
}


@media only screen and (min-width:39em)
{
.k-back
{
width:410px;
background-image:url('../jpg/poz.png');
background-size:410px auto;}
}

.n-logo
{
font-family:"BioRhyme","sans-serif";
font-size:2rem;
font-weight:800;
padding:0 1rem;
line-height:1;
text-align:center;
margin:0;
color:black;
}

@media only screen and (min-width:39em)
{
.n-logo
{
color:white;
}}


/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.n-logo
{
font-size:calc(2rem + .5vw);
}}

.n-logo2
{
display:block;
line-height:1.25;
transform:rotate(5deg) translate(0,-0.5rem);
}

.logo
{
width:calc(6rem + 1vw);
height:calc(6rem + 1vw);
background-size:100% auto;
background-repeat:no-repeat;
}

.navigace
{
grid-area:navigace;
background:var(--b3);
}

.navigace ul
{
display:grid;
grid-template-columns:repeat(3 , 1fr);
width:100%;
max-width:75rem; /* 1200 px */
}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.navigace ul
{
grid-template-columns:repeat(3,.5fr) 1fr;
}}

.navigace ul li
{
margin-bottom:0;
}

.navigace ul li a
{
display:flex;
justify-content:center;
align-items:center;
padding:.25rem;
color:white;
font-size:.8rem;
width:100%;
height:100%;
border:1px dotted;
border-color:var(--b4) transparent var(--b4) var(--b4); /* položky menu nebudou mít barvu rámečku vpravo */
}

.navigace ul li :last-child
{
border-color:var(--b4) var(--b4) var(--b4) transparent; /* poslední položka menu nebude mít barvu rámečku vlevo */
}

/* pokud je obrazovka větší než 19em - 304px */
@media only screen and (min-width:19em)
{
.navigace ul li a
{
font-size:1rem;
}}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.navigace ul li a
{
padding:.5rem;
white-space:nowrap;
}}

.navigace ul li a:hover
{
text-shadow:0px 0px 4px var(--b4);
}



.obsah
{
grid-area:ob;
}

.volne_misto
{
grid-area:vm;
}

.volne_misto2
{
grid-area:vxx;
}

.paticka
{
grid-area:pat;
}

.lamac
{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

.lamac div:first-child
{
max-width:25rem;
}

.sdilet
{
display:flex;
flex-direction:column;
align-items:flex-end;
margin:1rem;
gap:1rem;
width:100%;
flex:1;
}

.a-sdil,.a-sdil2
{
display:flex;
align-items:center;
gap:1rem;
border:1px solid var(--b4_5);
padding:.5rem;
width:100%;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width: 39em)
{
.a-sdil,.a-sdil2
{
width:15rem;
max-width:20rem;
}}

.a-sdil p,.a-sdil2 p
{
width:auto;
flex:1;
margin-top:1rem;
margin-bottom:1rem;
font-size:.8rem;
text-align:left;
}

.img-s
{
width:3rem;
height:3rem;
}

.b-l,.blok_l /* zarovnání bloku doleva */
{
display:flex;
flex-direction:column;
align-items:center;
margin-left:1rem;
margin-right:1rem;
}

.b-l,.blok_l p
{
-webkit-hyphens:auto;
hyphens:auto; /* automatické zalamování slov v odstavci */
}


.blok_50
{
padding:0;
margin:0;
margin-bottom:1rem;
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width: 39em)
{
.blok_50
{
display:grid;
grid-template-columns:1fr 1fr;
}}

.blok_50-1
{
background:var(--b5_5);
padding:1rem;
width:auto;
}

.blok_50-1 p
{
text-transform:uppercase; /* vše velkým */
}

.blok_50-1 ol li
{
text-align:left;
}

.blok_50-2
{
background:var(--b1_5);
padding:1rem;
}

.blok_50-2 p
{
font-size:.8rem;
}

.blok_50-2 ol li
{
font-size:.8rem;
-webkit-hyphens:auto;
hyphens:auto;
}

.an_otoc
{
will-change:transform;
animation:otoceni paused 1s both;
}

@keyframes otoceni
{
0%{transform:perspective(0px) rotateY(0deg) scale(1);opacity:0;}
1%{transform:perspective(10px) rotateY(.25deg) scale(.1);opacity:0;}
100%{transform:perspective(0px) rotateY(0deg) scale(1);opacity:1;}
}

/*  PRO JEDNOTLIVÉ PŘÍPADY - DROBÉNKOVÁ NAVIGACE */

.drob-nav
{
display:flex;
width:100%;
padding-left:1rem;
padding-right:1rem;
}

.drob-nav li,.drob-nav li a
{
font-family:"DuruSans","Sans-Serif";
font-size:.8rem;
font-style:italic;
font-weight:normal;
}

.drob-nav li a
{
text-decoration:underline var(--b4);
}

/* konec - PRO JEDNOTLIVÉ PŘÍPADY - DROBÉNKOVÁ NAVIGACE */


.vh100c
{
min-height:calc(100vh - 300px + 2rem); /* úprava velkosti bloku tak, aby s hlavičkou a navigací obsáhl 100vh pro kalkulator.html */
}