.obsah
{
padding-bottom:0;
}

.pr_box
{
display:grid;
grid-template-columns:repeat(12 , 1fr);
grid-template-areas:
"nadpis nadpis nadpis nadpis nadpis nadpis nadpis nadpis nadpis nadpis nadpis nadpis"
"clanek clanek clanek clanek clanek clanek clanek clanek clanek clanek clanek clanek"
"p_obr p_obr p_obr p_obr p_obr p_obr p_obr p_obr p_obr p_obr p_obr p_obr"
"roz roz roz roz roz roz roz roz roz roz roz roz"
"p_button p_button p_button p_button p_button p_button p_button p_button p_button p_button p_button p_button"
;
gap:1rem;
padding:3rem 1rem 3rem 1rem;
background:var(--b5);
}

article .pr_box:last-child
{
border-bottom:0px dotted var(--b3);
}

/* pokud je obrazovka větší než 39em - 624px */
@media only screen and (min-width:39em)
{
.pr_box
{
grid-template-areas:
"nadpis nadpis nadpis nadpis nadpis nadpis . . . . . ."
". clanek clanek clanek clanek clanek . p_obr p_obr p_obr p_obr p_obr"
". . . . . . . . . . . ."
". roz roz roz roz roz . . p_button p_button p_button p_button"
;
padding-left:0;
}}


/* pokud je obrazovka větší než 81em - 1296px */
@media only screen and (min-width:81em)
{
.pr_box
{
grid-template-areas:
"nadpis nadpis nadpis nadpis nadpis nadpis . . . . . ."
". clanek clanek clanek clanek . . . p_obr p_obr p_obr p_obr"
". . . . . . . . . . . ."
". roz roz roz roz roz . . . p_button p_button p_button"
;
padding-right:2rem;
padding-left:0;
}
}




.p_nadpis,.p_clanek 
{
background:white;
padding:1rem;
}

.p_clanek,.p_rozhodnuto
{
border-radius:8px;
}

.p_nadpis
{
grid-area:nadpis;
}

@media only screen and (min-width:39em)
{
.p_nadpis
{
border-left:1rem solid var(--b5);
}}



.p_clanek
{
grid-area:clanek;
align-self:center;
font-size:1rem;
font-weight:bold;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
}

.p_obr
{
grid-area:p_obr;
}

.p_rozhodnuto
{
grid-area:roz;
text-align:left;
font-family:"BioRhyme","sans-serif";
font-weight:bold;
color:black;
}

.p_button
{
grid-area:p_button;
display:flex;
align-items:stretch;
}

.p_button a
{
font-family:"BioRhyme","sans-serif";
font-size:1.5rem;
font-weight:800;
width:100%;
margin:auto;
text-align:center;
background:var(--b2);
border:1px dotted var(--b3);
border-radius:8px;
padding:1rem;
}

.h-pribeh
{
padding-bottom:1rem;
padding-right:1rem;
margin:1rem;
}

.h-pribeh hgroup h1,.h-pribeh hgroup p
{
margin-bottom:.25rem;
text-align:left;
}

.t-zdroj
{
width:100%;
min-width:100%;
hyphens:auto;
}

.pr-kont
{
display:grid;
grid-template-columns:1fr;
}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.pr-kont
{
grid-template-columns:1fr 1fr;
gap:1rem;
padding-bottom:1rem;
}}

.rozs,.popis,.obhaj,.soud
{
display:flex;
flex-direction:column;
align-items:center;
}

.rozs
{
background:var(--b1_5);
}

.popis
{
background:var(--b4_5);
}

.obhaj
{
background:var(--b5_5);
}

.soud
{
background:var(--b2_5);
}


.rozs h2,.popis h2,.obhaj h2,.soud h2
{
background:white;
padding:1rem;
align-self:flex-start;
border-radius:0 0 8px 0;

}

.rozs h2
{
border-left:2px dotted var(--b1_5);
border-top:2px dotted  var(--b1_5);
}

.popis h2
{
border-left:2px dotted var(--b4_5);
border-top:2px dotted  var(--b4_5);
}

.obhaj h2
{
border-left:2px dotted var(--b5_5);
border-top:2px dotted  var(--b5_5);
}

.soud h2
{
border-left:2px dotted var(--b2_5);
border-top:2px dotted  var(--b2_5);
}

.pr-kont p,.rozs p,.popis p,.obhaj p,.soud p,.p-ol
{
background:white;
padding:1rem;
margin:1rem .5rem 1rem .5rem;
border-radius:8px;
hyphens:auto;
width:auto;
}

.p-ol ol
{
width:auto;
max-width:calc(50ch - 2rem);
}

.p-ol p
{
margin:0;
margin-bottom:1rem;
padding:0;
}

/* pokud je obrazovka větší než 58em - 928px */
@media only screen and (min-width:58em)
{
.pr-kontp,.rozs p,.popis p,.obhaj p,.soud p
{
margin:1rem;
}}


.bg-5
{
background:var(--b5);
}

.bor-b
{
border-bottom:8px dotted var(--b3);
}