html{line-height:1.15;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%;}
main{display:block;}
h1{font-size:2em;margin: 0.67em 0;}
a{background-color: transparent;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,strong{font-weight: bolder;}
small{font-size: 80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
img{border-style:none;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow: visible;}
button,select{text-transform: none;}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{padding:.35em .75em .625em;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details{display:block;}
summary{display:list-item;}
template{display:none;}
[hidden]{display:none;}
p,ul,ol,dl,table,blockquote,pre,figure,hr{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:1rem;}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;}
ul ul,ul ol,ol ul,ol ol{margin-bottom:0;}
ul,ol,dd{padding-left:1.75rem;}
dd{margin-left: 0;}
blockquote{border:0;padding-left:1.75rem;margin-left:0;font-style:italic;}
figure{margin-left:0;margin-right:0;}
figure>table,figure>img,figure>picture{margin-bottom:0;}
fieldset{border:0;}
legend{padding:0 .5rem;}


/* KONEC OPTIMALIZACE */



:root
{
--b1:rgb(255,196,152); /* hnědá */
/* přechodové barvy */
--b2:rgb(0,158,107); /* hnědá - do béžova */
--b2_9:rgba(0,158,107,0.95); /* hnědá - do béžova 95% krytí */
--b2_6:rgba(0,158,107,.6); /* hnědá - do béžova 60% krytí */
--b3:rgb(255,172,207); /* hnědá - do růžova */
--b4:rgb(0,103,105); /* zelená */
--b5:rgb(0,51,108); /* fialová */
}

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"nadpis"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../../font/nadpis.woff2") format("woff2 supports variations"),url("../../font/nadpis.woff2") format("woff2-variations"),url("../../font/nadpis.woff2") format("woff2"),url("../../font/nadpis.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 900; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"text"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../../font/text.woff2") format("woff2 supports variations"),url("../../font/text.woff2") format("woff2-variations"),url("../../font/text.woff2") format("woff2"),url("../../font/text.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 700; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

* {
-webkit-box-sizing:border-box;
box-sizing:border-box;
}


body
{
display:-moz-grid;
display:grid;
place-items:center center;
height:100vh;
height:100svh;
width:100%;
color:black;
background:var(--b5);
font-family:"text","Arial","Sans-Serif";
font-size:100%;
line-height:1;
margin:0;
overflow:hidden auto;
}

a,button
{
cursor:pointer;
}

button
{
font-weight:600;
}

a,a:link,a:visited,a:active
{
color:black;
text-decoration:none;
}

p
{
font-size:1rem;
line-height:1.3;
}

h1,h2,h3,h4
{
font-family:"nadpis","Verda","Sans-Serif";
-webkit-font-variant-ligatures:common-ligatures;
font-variant-ligatures:common-ligatures;
font-weight:700;
letter-spacing:.01rem;
padding-top:1rem;
line-height:1.2;
margin-bottom:1rem;
}

h1
{
font-size:2rem;
}

h2
{
font-size:1.5rem;
}

h3
{
font-size:1.25rem;
}

svg
{
width:100%;
height:auto;
}


.con
{
display:grid;
grid-template-rows:auto 1fr auto;
background:var(--b2);
border:1px solid black;
width:100%;
height:100vh;
height:100svh;
box-shadow: 10px 10px 25px black;
}

.con-pc
{
width:40rem;
max-width:100%;
max-width:100vw;
max-width:100dvw;
height:40rem;
height:40rem;
border-radius:20px;
}


.lb
{
width:1.5rem;
height:1.5rem;
width:calc(1.5rem + 1vh);
height:calc(1.5rem + 1vh);
}

/* vyšší jak 992px */
@media only screen and (min-height:62em)
{
.lb
{
width:3rem;
height:3rem;
}
}

.ls
{
width:100%;
height:100%;
}

.ls2
{
width:1rem;
height:1rem;
-webkit-transform:scale(1.5) translate(-.1rem,0);
transform:scale(1.5) translate(-.1rem,0);
}

.cl
{
display:-webkit-box;
display:flex;
-webkit-box-align:center;
align-items:center;
gap:.5rem;
}

.cl p
{
font-size:.9rem;
}

.bh
{
display:-webkit-box;
display:flex;
-webkit-box-align:center;
align-items:center;
-webkit-box-pack:justify;
justify-content:space-between;
gap:1rem;
margin:.5rem;
margin-bottom:0;
}

.bh h1
{
font-size:1rem;
font-size:calc(.8rem + 1.5vh);
margin:0;
padding:0;
}


/* vyšší jak 992px */
@media only screen and (min-height:62em)
{
.bh h1
{
font-size:2rem;
}}


/* větší jak mobil M */
@media only screen and (min-width:21em)
{
.bh h1
{
margin-right:10%;
}}


.cl p
{
margin-bottom:0;
}

header
{
padding-bottom:.5rem;
border-bottom:1px solid black;
text-align:center;
}

.box
{
display:grid;
align-items:center;
background:white;
padding:0 1rem 1rem 1rem;
overflow:auto;
}

meter
{
height:.5rem;
height:calc(.25rem + 1vh);
min-height:.5rem;
max-width:25rem;
width:80%;
padding:0 1rem 0 1rem;
margin-top:-.5rem;
}

/* vyšší jak 992px */
@media only screen and (min-height:62em)
{
meter
{
height:1rem;
}}

meter::-webkit-meter-bar
{
background:none; /* Required to get rid of the default background property */
background-color:var(--b5); /* pozadí měřidla */
}

meter::-webkit-meter-optimum-value
{
background:var(--b4); /* barva ukazatele měřidla */
}

input,textarea
{
padding:.5rem .25rem .25rem .25rem;
border:1px solid var(--b5);
border-radius:2px;
line-height:1.5;
}

input:focus-visible,textarea:focus-visible
{
outline:1px solid var(--b4);
}

form
{
display:-webkit-box;
display:flex;
-webkit-box-pack:center;
justify-content:center;
-webkit-transition:500ms;
-o-transition:500ms;
transition:500ms;
}

fieldset
{
width:100%;
max-width:500px;
padding:0;
display:none;
}

form fieldset:first-child
{
display:block;
}

ul
{
list-style-type:none;
padding:0;
}

li
{
margin-bottom:1rem;
}

label
{
text-align:right;
}

.g1,.g2
{
display:grid;
grid-template-columns:5rem 1fr;
gap:1rem;
-webkit-box-align:center;
align-items:center;
margin-bottom:2rem;
}

.g2
{
margin-bottom:1rem;
}

.can
{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:1rem;
}

canvas
{
width:100%;
max-width:150px;
height:auto;
border:1px solid var(--b5);
border-radius:4px;
}


footer
{
display:-webkit-box;
display:flex;
-webkit-box-pack:justify;
justify-content:space-between;
border-top:1px solid black;
gap:1rem;
padding:.5rem;
}



.i
{
display:inline-block;
width:2rem;
min-width:2rem;
height:2rem;
min-height:2rem;
}

.i-w
{
stroke:white;
fill:white;
}


.aa,.but
{
border:1px dotted var(--b4);
border-radius:2rem;
padding:.5rem 1rem;
color:black;
background:white;
}


.aa
{
display:-webkit-box;
display:flex;
gap:.25rem;
font-size:.8rem;
text-align:center;
-webkit-box-align:center;
align-items:center;
}

.ci
{
display:inline-block;
width:3ch;
text-align:right;
}

dialog
{
width:80%;
max-width:500px;
border:0;
padding:0;
margin:auto;
border-radius:8px;
background-color:var(--b5);
}

dialog::-webkit-backdrop
{
background-color:rgba(0,0,0,0.7);
}

dialog::backdrop
{
background-color:rgba(0,0,0,0.7);
}

.d-h,.d-p
{
background:var(--b5);
padding:1rem;
border-bottom:1px solid black;
}

.d-h div p
{
margin:0;
color:white;
}

.d-s
{
padding:0 1rem 0 1rem;
overflow:auto;
background-color:white;
}

.d-s p
{
text-align:justify;
-webkit-hyphens:auto;
hyphens:auto;
}

.d-p
{
border-bottom:0;
border-top:1px solid black;
text-align:right;
}


.bf
{
display:-webkit-box;
display:flex;
-webkit-box-align:center;
align-items:center;
gap:.5rem;
}

.oo
{
display:-webkit-box;
display:flex;
-webkit-box-pack:center;
justify-content:center;
padding:.5rem;
}

.s-b
{
width:50%;
}

.tz
{
text-transform:uppercase;
font-weight:bold;
}


.ass
{
align-self:start;
padding-top:calc(.25rem + 1px);
}

.fr
{
display:-webkit-box;
display:flex;
-webkit-box-pack:end;
justify-content:flex-end;
}

.bor
{
padding:.5rem;
border:1px dotted var(--b5);
}

.n-s
{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:white;
z-index:100;
padding:1rem;
display:-webkit-box;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
flex-direction:column;
-webkit-box-pack:center;
justify-content:center;
-webkit-box-align:center;
align-items:center;
}

.n-s p:first-child
{
font-size:1.25rem;
text-align:center;
}

.n-s p
{
text-align:justify;
-webkit-hyphens:auto;
hyphens:auto;
}

.o0
{
opacity:0;
}

.dn
{
display:none;
}

.bn
{
border:0;
}